/** Top **/

#top {
  background: linear-gradient(#87F41D, #FFD103);
}

.navbar {
	background: #5FBA30;
	height: 5vh;
}
.navbar-nav {
	display: flex;
	flex-direction: row;
}

.nav-item {
	margin-left: 50px;
}

#top .nav-link:hover {
	text-decoration: underline;
}

#top h2 {
	padding-top: 20vh;
	margin: auto;
}

#top p {
	margin: auto;
	padding-bottom: 20vh;
}

#chat {
 /* For browsers that do not support gradients */
  height: 140vh;
}

#chat h2 {
	padding-top: 10vh;
}

#chat button {
	margin-top: 5vh;
	margin-bottom: 50px;
	height: 50px;
	width: 300px;
	background: #FFD657;
	border-style: none;
}

#chat button:hover {
	margin-top: 5vh;
	margin-bottom: 50px;
	height: 50px;
	width: 300px;
	background: lightblue;
	border-style: none;
	opacity: 0.4;
}

/** chat room */
.chat {
	margin-top: 100px;
	list-style-type: none;
}

.chat li {
	height: 50px;
	width: 250px;
	background: yellow;
	margin: auto;
	margin-bottom: 30px;
}

.question {
	border-style: none;
	height: 50px;
	width: 300px;
    background: #FFD657;
}

#chatRoom {
	display: none;
}

#chatRoom.show{
	display: block;
}

#questions {
	display: block;
}

#questions.hide {
	display: none;
}

#questions p {
	margin-top: 30px;
	margin-bottom: 30px;
}
