@import url('//fonts.googleapis.com/css?family=Cantata+One|Source+Sans+Pro');
/* Space out content a bit */
html body {
background-color: #f7f7f7;
font-family: "Source Sans Pro", sans-serif;
}
.title {
    font-family: "Cantata One", sans-serif;
    color: #f7f7f7;
    background:#212428;
    padding: 3px;
}
.navbar {
  background: #5FBA30;
  height: 5vh;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-left: 30px;
}

#top .nav-link:hover {
  text-decoration: underline;
}

.container {
  margin-top: 100px;
  text-align: center;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}



.d-flex {
  margin-top: 25px;

  text-align: center;

}
.container label {
  margin-top: 25px;

  display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  }

  .container h1 {
    text-align: center;

  }
  
  .container {
    margin-top: 20px;
  }